.packages {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: gray;
    cursor: pointer;
}
.packages :hover {
    color: #fff;
}
.packages > button {
    color: #fff;
    background-color: #e50914;
    font-weight: 400;
    width: 100px;
    border: none;
    cursor: pointer;
}